*.log
*.err
*.pyc
*.swp
.idea/*
**/__pycache__/*
**/output/*
data/.DS_Store
docs/build
results/*
build
dist
boards/*
*.egg-info/
checkpoint
*.pth
*.ckpt
*_cache
.cache
data
save
.eggs
eggs/
*.egg
.DS_Store
.vscode/*
.ipynb_checkpoints/
content/
demo/
nohup.out
pythia/data_ori/
